<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home.css" />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
  <title>Hire&Go</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="name">
        <h1>Hire&Go</h1>
      </div>
      <div class="navbar">
        <nav>
          <div class="btn">
            <i class="fa fa-times close-btn"></i>
          </div>
          <li><a href="#start-section"class="active">Home</a></li>
          <li><a href="#services-section">Services</a></li>
          <li><a href="#about-section">About Us</a></li>
          <li><a href="#contact-section">Contact Us</a></li>
        </nav> 
        <img src="/images/people.png" class="people">
        <div class="btn">
         <i class="fa fa-bars menu-btn"></i>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="content">
        <h2>Elevate your hiring<br>process now!</h2>
        <a href="registrationform" class="buttonLetsStart">Get Started></a>
      </div>
    </div>
    <div class="scrollPage">
       <div class="line2"></div>
       <div id="services-section">
        <h2>Our Services</h2>
        <div class="service-container">
          <div class="service">
            <img src="/images/candidates.jpg" alt="Job Candidate Matching">
            <div>
              <h4>Job Candidate Matching</h4>
              <p>Use AI-driven tools to match job descriptions with the most appropriate candidates for the position.</p>
            </div>
          </div>
          <div class="service">
            <img src="/images/join.jpg" alt="CV Evaluation">
            <div>
              <h4>Customizable CV Evaluation</h4>
              <p>Filter candidates efficiently based on your needs.</p>
            </div>
          </div>
          <div class="service">
            <img src="/images/list.jpg" alt="Ranked Candidate">
            <div>
              <h4>Ranked Candidate Sortlisting</h4>
              <p>Offer a sorting list of all candidates from most suitable to least based on the position and the job description provided. </p>
            </div>
          </div>
          <div class="service">
            <img src="/images/cv.jpg" alt="CV Summaries">
            <div>
              <h4>CV Summaries</h4>
              <p>Summaries on each candidate's CV provided for better undestanding and evaluation.</p>
            </div>
          </div>
        </div>
      <div class="line3"></div>
      <div id="about-section">
        <h2>About Us</h2>
        <div class="about-container">
          <div class="about">
            <p>At Hire&Go, our mission is to make the hiring process easier, faster, more effective and most importantly help you find the right personel for your company!</p>
          </div>
          <div class="about">
            <p>We undestand that finding the perfect candidate for any given job position may be time consuming, stressful and difficult. That's why we have designed this platform that simplifies the hiring process for any type of company. </p>
          </div>
          <div class="about">
            <p> Our ultimate goal is to help companies build their dream teams and communities inside the work place. </p>
          </div>
          <div class="about">
            <p> Join us in transforming hiring into an effortless yet impactful experience!</p>
          </div>
          <div class="about-image-container">
              <img src="/images/team.png" alt="About Hire&Go">
          </div>
        </div>
      </div> 
      <div class="line4"></div>
      <div id="contact-section">
        <h2>Contact Us</h2>
        <div class="contact">
          <h3> We are always here for you, let us know if you have any questions!</h3>
          <p>Email: hireandgo7@gmail.com </p>
        </div> 
      <div class="line5"></div>
    </div>
  </div>
  </section>
  <script src="/js/script.js"></script>
</body>
</html>
