<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registration Successful</title>
  <link rel="stylesheet" href="/css/success.css" />
</head>

<body>
  <h1 th:text="'Registration Successful for ' + ${username}" >Registration Successful for User!</h1>
  <p>You have successfully registered to Hire&Go!</p>
  <p>Soon, you will receive an email from us with a link to the ranked candidates.</p>

  <hr>
  <!--The images are inserted-->
  <img src="/images/user.png" alt="Photo of user">
  
  <img src="/images/handshake (1).png" alt="Photo of handshake">
  
  <img src="/images/assept-document.png" alt="Photo of assept-document">

</body>

</html>